body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  color: #ffff00;
  background: linear-gradient(89deg, black 0%, #191970 100%);
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #ffff00; /*color of your choosing*/
  font-weight: normal;
}

button {
  cursor: pointer;
}
